$color-bg:          #0A0A0A;    
$color-text:        #EAEAEA;    
$color-text-light:  #B0B0B0;    
$color-text-muted:  #242424;
$color-box-primary:     rgba(103, 0, 0, 0.43);
$color-box-secondary:   #EAEAEA;                
$color-box-header:      #0A0A0A;                
$color-subheader-bg:    #171717;                
$color-subheader-text:  #242424;
