$color-bg:          #0A0A0A;    
$color-text:        #EAEAEA;    
$color-text-light:  #B0B0B0;    
$color-text-muted:  #242424;
$color-box-primary:     rgba(103, 0, 0, 0.43);
$color-box-secondary:   #EAEAEA;                
$color-box-header:      #0A0A0A;                
$color-subheader-bg:    #171717;                
$color-subheader-text:  #242424;
$color-accent: #E7CF56; // From your mixin logic
$color-btn-dark: #8B1A1A;
$color-bg-gradient: linear-gradient(135deg, #420d09 0%, #0a0a0a 100%);